doctype html
head
    title Campus Talk
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    link(rel='stylesheet' type='text/css' href='css/index.css')
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
    script(src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile")
    script(type="text/javascript" src="js/index.js")

#generic-input-modal.modal
    #generic-input-modal-background.modal-background
    #generic-input-modal-content.modal-content
        #modal-content-container.container

section.section
    // Title Section
    .container
        .columns.is-centered.is-vcentered.is-multiline
            .column.is-12.has-text-centered
                h1.title Campus - Talk
            .column.has-text-centered
                h2.subtitle The anonymous chat platform
section.section
    // Categories section
    .container
        .columns.is-multiline.is-centered.is-vcentered
            .column.is-12.has-text-centered
                p.has-text-gray What would you look at today,
                .columns.is-centered.is-vcentered.has-text-centered
                    .column.is-narrow.has-text-centered
                        p#username-greeting
                    .column.is-narrow.gone#create-account-button-container
                        button#create-account-button.button Create Account
                    .column.is-narrow.gone#login-button-container
                        button#login-button.button Login
            .column.has-text-centered
                #random-posts-container.columns

section.section
    .container
        .columns.is-centered.is-vcentered
            .column.has-text-centered
                button#new-post-button.button Create New Post

section.section
    .container.gone#new-post-container

script(type="text/javascript" src="js/animations.js")
