doctype html
head
    title Campus Talk
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
    script(type="text/javascript" src="js/index.js")

#generic-input-modal.modal
    #generic-input-modal-background.modal-background
    #generic-input-modal-content.modal-content
        #modal-content-container.container

section.section
    // Title Section
    .container
        .columns.is-centered.is-vcentered.is-multiline
            .column.is-12.has-text-centered
                h1.title Campus - Talk
            .column.has-text-centered
                p The anonymous chat platform
section.section
    // Categories section
    .container
        .columns
            .column.is-12
                p What would you look at today,
                p#username-greeting
            .column
                p 10 most recent posts go here
                button.button Random Post
    .container
        button#new-post-button.button Create New Post

section.section
    .container#new-post-container